<%= title "Newsletter Archive" %>

<ul style="margin-bottom: 100px;">
<% @newsletters.published.each do |newsletter| %>
	<li><%= link_to newsletter.name, newsletter.public_url('public') %></li>
<% end %>
</ul>


